#!/usr/bin/env bash

fzf-down() {
  fzf --height 50% --min-height 10 --border --bind ctrl-/:toggle-preview "$@"
}

# gcob - checkout git branch
gcob() {
  local branches target
  branches=$(git --no-pager branch -vv) || return
  target=$(
    (echo "$branches") |
    fzf --height 50% --no-hscroll --no-multi -n 1 \
        --ansi --preview="git --no-pager log -150 --pretty=format:%s '..{2}'") || return
  git checkout $(echo "$target" | awk '{print $1}' | sed "s/.* //")
}

# gcobr - checkout git branch/tag, with a preview showing the commits between the tag/branch and HEAD
gcobr() {
  local tags branches target
  branches=$(
    git --no-pager branch --all \
      --format="%(if)%(HEAD)%(then)%(else)%(if:equals=HEAD)%(refname:strip=3)%(then)%(else)%1B[0;34;1mbranch%09%1B[m%(refname:short)%(end)%(end)" \
    | sed '/^$/d') || return
  tags=$(
    git --no-pager tag | awk '{print "\x1b[35;1mtag\x1b[m\t" $1}') || return
  target=$(
    (echo "$branches"; echo "$tags") |
    fzf --height 50% --no-hscroll --no-multi -n 2 \
        --ansi --preview="git --no-pager log -150 --pretty=format:%s '..{2}'") || return
  git checkout $(awk '{print $2}' <<<"$target" | sed 's/origin\///')
}

# GPG
gpgconf --launch gpg-agent

# fuck() correct previous console commands
eval $(thefuck --alias)

# rbenv() ruby version manager
eval "$(rbenv init -)"

# nvm() node version manager
export NVM_DIR="$HOME/.nvm"
[ -s "/usr/local/opt/nvm/nvm.sh" ] && . "/usr/local/opt/nvm/nvm.sh"  # load nvm
[ -s "/usr/local/opt/nvm/etc/bash_completion.d/nvm" ] && . "/usr/local/opt/nvm/etc/bash_completion.d/nvm"  # loads nvm bash_completion
