#!/usr/bin/env bash

fzf-down() {
  fzf --height 50% --min-height 10 --border --bind ctrl-/:toggle-preview "$@"
}

# fuck() correct previous console commands
eval $(thefuck --alias)

# rbenv() ruby version manager
eval "$(rbenv init -)"

# nvm() node version manager
export NVM_DIR="$HOME/.nvm"
[ -s "/usr/local/opt/nvm/nvm.sh" ] && . "/usr/local/opt/nvm/nvm.sh"  # load nvm
[ -s "/usr/local/opt/nvm/etc/bash_completion.d/nvm" ] && . "/usr/local/opt/nvm/etc/bash_completion.d/nvm"  # loads nvm bash_completion
